<div class="appContainer">
    <div class="col-12 text-right">
        <h4>وقت دهی</h4>
    </div>
    <hr>
    <div class="col-12">
        <div class="d-lg-flex align-items-baseline my-3">
            <div class="col-lg-2 col-12">
                <p-dropdown [options]="clinicsList" placeholder="مکان" [(ngModel)]="selectedClinic" optionLabel="name"
                    dataKey="id" class="full-width text-right" />
            </div>
            <div class="col-lg-2 col-12">
                <p-dropdown [options]="servicesList" placeholder="خدمات" [(ngModel)]="selectedservice"
                    optionLabel="name" dataKey="id" class="full-width text-right" />
            </div>
            <div class="col-lg-2 col-12">
                <ng-persian-datepicker (dateSelect)="onDateChange($event)">
                    <input type="text" class="form-control" [formControl]="selectedDatefrom" />
                </ng-persian-datepicker>
            </div>
            <div class="col-lg-2 col-12">
                <ngx-timepicker-field [format]="24" (timeSet)="selectedTimefrom = $event" [(ngModel)]="selectedTimefrom"
                    [defaultTime]="'08:00'">
                </ngx-timepicker-field>
            </div>
            <div class="col-lg-2 col-12">
                <ng-persian-datepicker (dateValueChange)="onDateChange($event)">
                    <input type="text" class="form-control" [formControl]="selectedDateTo" />
                </ng-persian-datepicker>
            </div>
            <div class="col-lg-2 col-12">
                <ngx-timepicker-field [format]="24" (timeSet)="selectedTimeTo = $event" [(ngModel)]="selectedTimeTo"
                    [defaultTime]="'23:00'">
                </ngx-timepicker-field>
            </div>
        </div>
        <div class="text-center mb-3">
            <button class="btn btn-danger" (click)="getAppointment()">جستجو</button>
        </div>
        <p-table #dt styleClass="p-datatable-gridlines" [value]="todayAppointmentsList" [autoLayout]="true"
            [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="نمایش {first} تا {last} " [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="fldFirstName">زمان ملاقات
                        <p-sortIcon field="fldFirstName"></p-sortIcon>
                    </th>
                    <th> نام</th>
                    <th> نوع وقت</th>
                    <th> خدمت</th>
                    <th> پزشک</th>
                    <th> عملیات</th>
                </tr>
                <tr>
                    <th>
                        <input type="text" (input)="dt.filter($event.target?.value, 'fldFirstName', 'contains')"
                            class="form-control">
                    </th>
                    <th>
                        <input type="text" (input)="dt.filter($event.target?.value, 'fldFirstName', 'contains')"
                            class="form-control">
                    </th>
                    <th></th>
                    <th></th>
                    <th>
                        <input type="text" (input)="dt.filter($event.target?.value, 'fldEmail', 'contains')"
                            class="form-control">
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [routerLink]="'/patient/treatment/' + item.patientId" class="pointer">
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.date|JustDateZone}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.patientName}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.appointmentTypeName}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.billableItemName}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <div class="py-2 widthClassPrime">
                            <span>{{item.practitionerName}}</span>
                        </div>
                    </td>
                    <td class="px-2">
                        <button class="btn btn-danger"
                            (click)="'/new-invoice/' + item.patientId +'/2/'+selectedClinic.code">صدور صورتحساب</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>