.patient-menu {
    background: #FFFFFF;
    width: 200px;
    height: calc(100% - 200px);
    /* height: 100%; */
    right: 251px;
    top: 200px;
    /* box-shadow: 0 0 5px rgb(0 0 0 / 20%); */
    box-shadow: -8px 0px 9px -7px rgba(0, 0, 0, 0.77);
    position: fixed;
}

.patient-navbar {
    z-index: 90;
    direction: rtl;
    width: calc(100% - 250px);
    height: 120px;
    position: fixed;
    top: 81px;
    right: 251px;
    background-color: #ffff;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
}

.selected-sidebar-menu {
    background: rgba(99, 198, 179, .5);
    border-radius: 10px;
}

.note-container {
    border-top: 1px solid #444444;
}


.add-note-btn {
    width: fit-content;
    background-color: #ff57eb;
    color: #FFFFFF;
}

.note-input {
    width: 400px;
    border-radius: 10px;
    border: 1px solid #858585;
}

.note-input-container {
    transition: .2s all ease;
}

.closed-note-container {
    width: 0;
}

.note-item {
    border: 1px solid #63C6B3;
    border-radius: 10px;
    transition: .2s all ease;
    min-width: fit-content;
    position: relative;
    overflow: visible;

    i {
        font-size: 10px;
    }
}

.note-item:hover {
    background: rgba(99, 198, 179, .3);
}

.note-items-container {
    max-width: 40%;
    overflow-x: auto;
    scrollbar-width: none;
}

.delete-note {
    border-radius: 100%;
    position: absolute;
    top: -3px;
    right: -3px;
    width: 15px;
    height: 15px;
}

@media (max-width: 768px) {
    .patient-menu {
        background: #FFFFFF;
        width: 200px;
        height: calc(100% - 140px);
        /* height: 100%; */
        right: 0;
        top: 160px;
        /* box-shadow: 0 0 5px rgb(0 0 0 / 20%); */
        box-shadow: -8px 0px 9px -7px rgba(0, 0, 0, 0.77);
        position: fixed;
    }

    .patient-navbar {
        z-index: 90;
        direction: rtl;
        width: 100%;
        height: 100px;
        position: fixed;
        top: 81px;
        right: 0;
        background-color: #ffffff;
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
    }
}