<div class="appContainer">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h4>بیماران</h4>
        <button class="btn new-appointment-btn px-3 py-1 d-flex align-items-center justify-content-center"
            routerLink="/create-patient">
            +
        </button>
    </div>
    <hr>
    <div class="col-12 mt-5">
        <p-table id="patientsTable" #dt styleClass="" class="patients-table" [value]="patientsList" [pageLinks]="20"
            [autoLayout]="true" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="نمایش {first} تا {last} " [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th>ردیف</th>
                    <th>نام و نام خانوادگی</th>
                    <th>شهر</th>
                    <th>ایمیل</th>
                    <th>کد ملی</th>
                    <th>توضیحات</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-patient let-rowIndex="rowIndex">
                <tr>
                    <td> {{rowIndex+1}}</td>
                    <td>
                        {{patient.firstName}} {{patient.lastName}}
                    </td>
                    <td>
                        {{patient.city}}
                    </td>
                    <td>
                        {{patient.email}}
                    </td>
                    <td>
                        {{patient.nationalCode}}
                    </td>
                    <td>
                        {{patient.notes}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>