<div class="appContainer">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h4>بیماران</h4>
        <button class="btn new-appointment-btn px-3 py-1 d-flex align-items-center justify-content-center"
            (click)="createPatientModal()">
            +
        </button>
    </div>
    <hr>
    <div class="col-12 mt-5">
        <p-table id="patientsTable" #dt styleClass="" class="patients-table" [value]="patientsList" [pageLinks]="20"
            [autoLayout]="true" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="نمایش {first} تا {last} " [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th>ردیف</th>
                    <th>نام و نام خانوادگی</th>
                    <th>شهر</th>
                    <th>ایمیل</th>
                    <th>کد ملی</th>
                    <th>توضیحات</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-patient let-rowIndex="rowIndex">
                <tr>
                    <td> {{rowIndex+1}}</td>
                    <td>
                        {{patient.firstName}} {{patient.lastName}}
                    </td>
                    <td>
                        {{patient.city}}
                    </td>
                    <td>
                        {{patient.email}}
                    </td>
                    <td>
                        {{patient.nationalCode}}
                    </td>
                    <td>
                        {{patient.notes}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <p-dialog id="create-patient-modal" [(visible)]="showCreatePatient" [closable]="false"
        [ngClass]="{'modalShadow' : showCreatePatient}" class="p-2">
        <p-header>
            <div class="col-12 d-flex justify-content-between align-items-center">
                <h4>ایجاد بیمار</h4>
                <button class="btn main-btn text-white">معرف جدید</button>
            </div>
        </p-header>
        <div class="col-12 create-patient-modal">
            <div class=""></div>
            <div class="col-12 d-flex justify-content-between align-items-center">
            </div>
            <hr>
            <div class="col-12 mt-3 mb-4 d-flex flex-wrap new-appointment-containter">
                <div class="col-4 d-flex flex-column">
                    <label for="firstName" class="text-right">
                        نام
                    </label>
                    <input type="text" id="firstName" class="form-control" [(ngModel)]="newPatient.firstName">
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="lastName" class="text-right">
                        نام خانوادگی
                    </label>
                    <input type="text" id="lastName" class="form-control" [(ngModel)]="newPatient.lastName">
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="lastName" class="text-right">
                        جنسیت
                    </label>
                    <div class="d-flex justify-content-center">
                        <p-selectButton [options]="genderList" [(ngModel)]="newPatient.gender" optionLabel="label"
                            optionValue="value" class="select-btn" />
                    </div>

                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="birthDate" class="text-right">
                        تاریخ تولد
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="newPatient.birthDate">
                    <!-- <p-inputMask [(ngModel)]="newPatient.birthDate" id="birthDate" mask="0000/00/00" placeholder="0000/00/00"
                slotChar="روز/ماه/سال" /> -->
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="fatherName" class="text-right">
                        نام پدر
                    </label>
                    <input type="text" id="fatherName" class="form-control" [(ngModel)]="newPatient.fatherName">
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="mobilePhone" class="text-right">
                        تلفن
                    </label>
                    <input type="text" id="mobilePhone" class="form-control" (click)="showAddPhoneNum = true">
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="nationalCode" class="text-right">
                        کد ملی
                    </label>
                    <input type="text" id="nationalCode" class="form-control" [(ngModel)]="newPatient.nationalCode">
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="job" class="text-right">
                        شغل
                    </label>
                    <p-dropdown [options]="jobList" id="job" [(ngModel)]="newPatient.job" optionLabel="name"
                        class="full-width text-right" />
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="mainInsurance" class="text-right">
                        بیمه گر اصلی
                    </label>
                    <p-dropdown [options]="mainInsurance" id="mainInsurance" [(ngModel)]="newPatient.mainInsurance"
                        optionLabel="name" class="full-width text-right" />
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="takmiliInsurance" class="text-right">
                        بیمه گر تکمیلی
                    </label>
                    <p-dropdown [options]="takmiliInsurance" id="takmiliInsurance"
                        [(ngModel)]="newPatient.takmiliInsurance" optionLabel="name" class="full-width text-right" />
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="firstReagent" class="text-right">
                        معرف اول
                    </label>
                    <p-dropdown [options]="firstReagent" id="firstReagent" [(ngModel)]="newPatient.firstReagent"
                        optionLabel="name" class="full-width text-right" />
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="secondReagent" class="text-right">
                        معرف دوم
                    </label>
                    <p-dropdown [options]="secondReagent" id="secondReagent" [(ngModel)]="newPatient.secondReagent"
                        optionLabel="name" class="full-width text-right" />
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="inpatientInsurance" class="text-right">
                        بیمه گر بستری
                    </label>
                    <p-dropdown [options]="InpatientInsurance" id="inpatientInsurance"
                        [(ngModel)]="newPatient.InpatientInsurance" optionLabel="name" class="full-width text-right" />
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="nationalCode" class="text-right">
                        عنوان
                    </label>
                    <p-dropdown [options]="patientTitle" [(ngModel)]="newPatient.Title" optionLabel="name"
                        class="full-width text-right" />
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="fileNum" class="text-right">
                        شماره پرونده
                    </label>
                    <input type="text" id="fileNum" id="city" class="form-control" [(ngModel)]="newPatient.fileNum">
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="city" class="text-right">
                        شهر
                    </label>
                    <input type="text" id="city" class="form-control" [(ngModel)]="newPatient.city">
                </div>
                <div class="col-4 d-flex flex-column">
                    <label for="note" class="text-right">
                        یادداشت
                    </label>
                    <textarea name="note" id="note" [(ngModel)]="newPatient.note"></textarea>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <button class="btn create-patient-btn text-white px-3 py-1 mx-1"
                    (click)="createPatient()">ذخیره</button>
                <button class="btn btn-outline-danger px-3 py-1 mx-1"
                    (click)="closeCreatePatientModal()">انصراف</button>
            </div>
        </div>
    </p-dialog>

    <p-dialog id="create-patient-modal" header="شماره تلفن" [(visible)]="showAddPhoneNum" [closable]="true"
        [ngClass]="{'modalShadow' : showAddPhoneNum}" class="p-2">
        <div class="col-12 create-phone-num-modal d-flex justify-content-between align-items-center">
            <div class="col-6 text-right">
                <label for="phoneNum">شماره تلفن</label>
                <input type="text" name="phoneNum" id="phoneNum" class="form-control">
            </div>
            <div class="col-6 text-right">
                <label for="phoneNumType">نوع</label>
                <p-dropdown [options]="phoneTypeList" id="phoneNumType" [(ngModel)]="phoneNum.phoneType"
                    optionLabel="name" class="full-width text-right" />
            </div>
        </div>
        <div class="col-12 mt-3 text-center">
            <button class="btn main-btn px-3 py-2 text-white" (click)="savePhone()">ثبت</button>
        </div>
    </p-dialog>
</div>