<div class="schedule-container">
    <div class="col-12 d-flex flex-column justify-content-center">
        <label for="isActive" class="text-right">نقش</label>
        <p-dropdown [options]="clinicsList" [(ngModel)]="newSchedule.clinic" optionLabel="name" dataKey="id"
            class="full-width text-right" />
        <hr>
        <div *ngFor="let day of weekDays" class="d-flex align-items-center justify-content-between">
            <input class="col-1" type="checkbox">
            <p class="col-2 text-right m-0">{{day.name}}</p>
            <p-dropdown class="col-4" [options]="hours" [(ngModel)]="newSchedule[day.code]" optionLabel="name"
                dataKey="id" class="full-width text-right" />
            <p class="m-0 mx-2 col-1">تا</p>
            <p-dropdown class="col-4" [options]="hours" [(ngModel)]="newSchedule[day.code]" optionLabel="name"
                dataKey="id" class="full-width text-right" />
            <button class="btn btn-secondary h-100">تنظیم وقفه</button>
        </div>
        <div class="col-12">
            <button class="btn btn-success">ذخیره</button>
        </div>
    </div>
</div>