<div class="appContainer">
  <div class="text-right">
    <h4 class="text-dark"> استثنائات خارج از نوبت </h4>
    <hr>
  </div>
  <div class="py-2 px-3">
    <button class="btn btn-danger mb-3" (click)="openModal()">
      جدید
    </button>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <p-table #dt [paginator]='true' [rows]="10" [value]='itemList' [resizableColumns]="true"
            styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
              <tr>
                <th class="min-width"> پزشک</th>
                <th class="min-width">مکان </th>
                <th class="min-width">تاریخ</th>
                <th class="min-width">تغییرات</th>
              </tr>
              <tr>
                <th>
                  <input type="text" class="form-control input-sm"
                    (input)="dt.filter($event.target.value, 'fldOverload', 'startsWith')">
                </th>
                <th>
                  <input type="text" class="form-control input-sm"
                    (input)="dt.filter($event.target.value, 'fldOverload', 'startsWith')">
                </th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{item.fldOverload}}</td>
                <td>{{item.fldOverload}}</td>
                <td>{{item.fldDeactiveDate| JustDate}}</td>
                <td>
                  <button class="btn btn-outline-primary" (click)="edit(item)">
                    تغییر
                  </button>
                  <button class="btn btn-outline-danger mx-1"
                    (click)="deleteItem(item.fldPkMasterInstallmentAdvertise)">
                    حذف
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="استثنائات خارج از نوبت جدید" [(visible)]="displayFormModal"
  [ngClass]="{'modalShadow': displayFormModal}">
  <div class="modal-body">
    <div>
      <div class="col-12 form-group mb-3">
        <p-dropdown [options]="doctorList" placeholder="پزشک" [(ngModel)]="form.selectedDoctor" optionLabel="name"
          dataKey="id" class="full-width text-right" />
      </div>
      <div class="col-12 form-group mb-3">
        <p-dropdown [options]="clinicsList" placeholder="مکان" [(ngModel)]="form.selectedClinic" optionLabel="name"
          dataKey="id" class="full-width text-right" />
      </div>
      <div class="col-12 form-group mb-3">
        <ng-persian-datepicker>
          <input type="text" class="form-control" [formControl]="form.selectedDate" />
        </ng-persian-datepicker>
      </div>
      <div class="col-12 form-group mb-3">
        <input placeholder="تعداد خارج از نوبت" class="form-control" id="overloadId" name="overloadName"
          [(ngModel)]="form.overload" OnlyNumber="true" />
      </div>
      <div class="col-12 text-center">
        <button class="btn btn-danger" (click)="save()">ذخیره</button>
      </div>
    </div>
  </div>
</p-dialog>
