<div class="login-container bg-cyan d-flex justify-content-center align-items-center">
    <div class="login-card bg-white d-flex flex-column">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="logo-container d-flex justify-content-center align-items-center">
                <img src="../../assets/images/logo.png" alt="Logo" height="50" srcset="">
            </div>
        </div>
        <div class="col-12 d-flex flex-column align-items-center my-3">
            <h4 class="m-0 title">همراه کلینیک</h4>
            <h6 class="mt-2 text-light-cyan"></h6>
        </div>
        <div class="col-12 d-flex flex-column align-items-center">
            <div class="col-12 col-md-10 input-container position-relative mt-4">
                <input type="text" name="userName" placeholder="" [(ngModel)]="model.userName"
                    (keydown)="handleKeyUp($event)">
                <label class="input-label" for="userName">نام کاربری</label>
            </div>
            <div class=" col-12 col-md-10 input-container position-relative mt-4">
                <input type="password" name="password" placeholder="" [(ngModel)]="model.password"
                    (keydown)="handleKeyUp($event)">
                <label class="input-label" for="password">رمز عبور</label>
            </div>

            <!-- <small class="col-12 col-md-10 text-right pointer text-dark-cyan">فراموشی رمز عبور</small> -->
            <button class="btn login-btn text-light col-12 col-md-10 mt-3" (click)="login()">ورود</button>
        </div>
    </div>
</div>