<div class="patientAppContainer">
    <div class="col-12">
        <h4 class="text-right m-0">اوقات تنظیم شده</h4>
        <hr>
    </div>
    <div class="col-12 mt-5">
        <p-table id="patientAppointmentsTable" #dt styleClass="" class="appointments-table"
            [value]="patientAppointmentsList" [pageLinks]="20" [autoLayout]="true" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true" currentPageReportTemplate="نمایش {first} تا {last} "
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th>ردیف</th>
                    <th pSortableColumn="start"><p-sortIcon field="start"></p-sortIcon> تاریخ</th>
                    <th>کجا</th>
                    <th>پزشک</th>
                    <th>نوع</th>
                    <th>خدمات</th>
                    <th>کاربر ثبت کننده</th>
                    <th pSortableColumn="createdOn"><p-sortIcon field="createdOn"></p-sortIcon>زمان ثبت</th>
                    <th>کابر تغییر دهنده</th>
                    <th pSortableColumn="lastUpdated"><p-sortIcon field="lastUpdated"></p-sortIcon>زمان تغییر</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-appointment let-rowIndex="rowIndex">
                <tr>
                    <td> {{rowIndex+1}}</td>
                    <td class="text-center">
                        {{appointment.start | JustDateZone}}
                    </td>
                    <td class="text-center">{{appointment.clinicName}}</td>
                    <td class="text-center"></td>
                    <td class="text-center">{{appointment.typeName}}</td>
                    <td class="text-center"></td>
                    <td class="text-center">{{appointment.creatorId}}</td>
                    <td class="text-center">{{appointment.createdOn | ShamsiFullDateInOneLineZone}}</td>
                    <td class="text-center">{{appointment.modifierId}}</td>
                    <td class="text-center">{{appointment.lastUpdated | ShamsiFullDateInOneLineZone}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>