::ng-deep .p-multiselect {
    width: 100% !important;
}

::ng-deep .p-button:focus {
    box-shadow: none !important;
}

::ng-deep .p-selectbutton .p-button.p-highlight {
    background-color: #00c4b4;
    border: 1px solid #00c4b4;
}