.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 600px;
}

.appointment-grid {
    direction: rtl;
}

.calendar-card {
    width: 100% !important;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Vazir', sans-serif;
}

.card-style-date {
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.mat-calendar {
    width: 100%;
}

.mat-calendar-header {
    background-color: #1976d2;
    color: white;
    border-radius: 8px 8px 0 0;
}

.selected-date {
    margin-top: 12px;
    text-align: center;
    font-weight: bold;
    color: #1976d2;
}

::ng-deep .cdk-visually-hidden {
    font-size: 15px !important;
    margin: 0 1px;
}

::ng-deep .mat-calendar-table-header span:nth-child(1) {
    display: none;
}

.new-appointment-modal {
    min-width: 500px;
    min-height: 200px;
}

::ng-deep #new-appointment-modal #pn_id_1_header {
    padding: 15px;
}

::ng-deep .mat-calendar-body-cell-content {
    border: none !important;
}

::ng-deep .mat-calendar-body-cell .mat-calendar-body-active {
    background-color: red !important;
    outline: none !important;
    border-radius: 100%;
    border: 1px solid #00c4b4;
    color: red !important;
}

::ng-deep .mat-calendar-body-cell .mat-calendar-body-active:focus {
    outline: none !important;
}

::ng-deep .mat-calendar-body-cell-container button:focus {
    outline: none;
    border-radius: 100%;
    background-color: #84a3a1;
    color: #FFFFFF;
}

::ng-deep .mat-calendar-body-cell:focus .mat-focus-indicator::before {
    content: none !important;
}

::ng-deep .cdk-visually-hidden {
    display: none !important;
}

::ng-deep .mat-calendar-body-label {
    display: none;
}

.appointment {
    background-color: #63C7B2;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.appointments-container .appointment:not(:first-child) {
    border-right: 1px solid #4444;
}

::ng-deep .full-width .p-dropdown {
    width: 100%;
    padding: 5px;
}

::ng-deep .p-dropdown .p-dropdown-label {
    font-family: 'iran-sans' !important;
}

.today-bg {
    background-color: rgba(204, 247, 244, .6) !important;
}