<div class="appContainer">
    <div class="col-12 text-right">
        <h4> اوقات امروز</h4>
    </div>
    <hr>
    <div class="row px-0 d-lg-flex">
        <div class="col-lg-4 col-12 pr-2 my-2">
            <div class="mt-md-0 mt-3">
                <div class="col-12 p-0">
                    <p-dropdown [options]="clinicsList" [(ngModel)]="selectedClinic" optionLabel="name" class="full-width text-right" />
                </div>
                <div class="mt-3">
                    <div class="test-cal">
                        <div id="datePickerTeacher" class="d-flex justify-content-center mb-2">
                            <mat-card class="calendar-card">
                                <mat-calendar [(selected)]="selectedDate"></mat-calendar>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-12 px-0 my-2">
            <div class="card-style-date p-3">
                <div class="col-12">
                    <div class="d-lg-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center pointer" (click)="changeDate(1)">
                            <i class="fa fa-arrow-right mx-1" aria-hidden="true"></i>
                            <p class="mb-0">روز بعد</p>
                        </div>
                        <div class="text-center">
                            <h6 class="mb-0">{{appointmentDate| JustDate}}</h6>
                        </div>
                        <div class="d-flex align-items-center pointer" (click)="changeDate(-1)">
                            <p class="mb-0">روز قبل</p>
                            <i class="fa fa-arrow-left mx-1" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-scroll col-12">
                        <table class="table col-12 table-bordered table-responsive border-0 text-center appointment-grid">
                            <thead class="d-flex">
                                <tr class="tr-sticky w-100 d-flex">
                                    <th class="table-time col-2">ساعت</th>
                                    <th class="text-center currentDate-box-table col-10">
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="d-flex flex-column">
                                <tr class="d-flex" *ngFor="let time of hours">
                                    <td class="col-2 d-flex justify-content-center align-items-center">{{time}}</td>
                                    <td class="col-10 p-2 d-flex appointments-container" (click)="setNewAppointment(time)">
                                        <div *ngFor="let appointment of timeSheetData[time]" class="appointment text-right p-2 pointer" (click)="editAppointment(appointment)">
                                            <div class="mt-2">نوع وقت : {{appointment.typeName}}</div>
                                            <div class="mt-2">نام بیمار : {{appointment.patientName}}</div>
                                            <div class="mt-2">توضیحات : {{appointment.note}}</div>
                                            <div class="mt-2">کنسل <span *ngIf="appointment.cancelled">شده</span><span *ngIf="!appointment.cancelled">نشده</span></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-dialog id="new-appointment-modal" header="اختصاص وقت به بیمار" [(visible)]="showNewAppointment" [closable]="true" [ngClass]="{'modalShadow' : showNewAppointment}" class="p-2">
        <div class="col-12 new-appointment-modal">
            <div class="col-12 d-flex justify-content-between mt-3">
                <div class="col-6 text-right">نوع وقت</div>
                <div class="col-6">
                    <p-dropdown [options]="appointmentTypes" [(ngModel)]="newAppointmentModel.selectedType" optionLabel="name" placeholder="نوع وقت را انتخاب کنید" class="full-width text-right" />
                </div>
            </div>
            <div class="col-12 d-flex justify-content-between mt-3">
                <div class="col-6 text-right">انتخاب بیمار</div>
                <div class="col-6">
                    <p-dropdown [options]="patientsList" [(ngModel)]="newAppointmentModel.selectedPatient" optionLabel="name" placeholder="بیمار مورد نظر را انتخاب کنید" class="full-width text-right" />
                </div>
            </div>
            <hr>
            <div class="col-12 text-center mt-3">
                <div class="col-12 d-flex justify-content-between">
                    <div class="col-4 text-right">تاریخ</div>
                    <div class="col-8">{{newAppointmentModel.appointmentStartTime | JustDateZone}}</div>
                </div>
                <div class="col-12 d-flex justify-content-between mt-2">
                    <div class="col-4 text-right">ساعت</div>
                    <div class="col-4">از : {{newAppointmentModel.appointmentStartTime | ShamsiTime}}</div>
                    <div class="col-4">تا : {{newAppointmentModel.appointmentEndTime | ShamsiTime}}</div>
                </div>
            </div>
            <hr>
            <div class="col-12 mt-3">
                <p class="text-right">یادداشت</p>
                <div>
                    <textarea name="description" id="appointment-description" class="col-12" [(ngModel)]="newAppointmentModel.note"></textarea>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-between my-3">
                <button class="btn btn-outline-success col-5" (click)="createAppointment()">ثبت</button>
                <button class="btn btn-outline-secondary col-5" (click)="closeNewAppointmentModal()">انصراف</button>
            </div>
        </div>
    </p-dialog>
</div>