 ::ng-deep .dp-picker-input {
     display: none !important;
 }

 ::ng-deep .dp-container {
     min-width: 320px;
 }

 .table-scroll {
     position: relative;
     width: 100%;
     z-index: 1;
     margin: auto;
     overflow: auto;
     height: 600px;
 }

 .appointment-grid {
     direction: rtl;
 }