.container-carousel {
    height: 178px;
}

.card-style {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #B8C3CC;
    position: relative;
    height: 100%;
    /* min-height: 15rem; */
    overflow: hidden;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}

.card-style:hover .carts-image {
    transform: rotate(18deg);
}

.carts-image {
    width: 75px !important;
    bottom: 0px;
    position: absolute;
    left: 11px;
    z-index: 3;
    transition: all 0.2s ease-in;
}

.carts-hasData {
    width: 75px !important;
    bottom: -35px;
    position: absolute;
    left: 11px;
    z-index: 3;
    transition: all 0.2s ease-in;
}

.card-style-date {
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #B8C3CC;
    height: 100%;
}

.bg-box-1 {
    width: 252px;
    height: 160px;
    border-radius: 25px;
    position: absolute;
    left: -7rem;
    bottom: -6rem;
    transform: rotate(106deg);
    z-index: 2;
}

.bg-box-2 {
    width: 250px;
    height: 154px;
    border-radius: 25px;
    position: absolute;
    left: -7rem;
    bottom: -6.5rem;
    transform: rotate(-66deg);
}

.danger-line {
    width: 45px;
    background-color: #C4161C;
    height: 3px;
    border-radius: 8px;
    margin: auto;
}

.th-timer {
    width: 10rem !important;
    border: none;
}

::ng-deep .tooltip-inner {
    padding: .7rem .7rem !important;
    filter: drop-shadow(2px 4px 6px black);
    font-family: 'yekan-medium';
}

.tr-sticky {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 8;
}

.td-timer {
    padding: 5px 2px;
    /* background-color: #f9f9f9; */
    border: none;
    text-align: center;
    vertical-align: bottom;
}


.currentDate-box-table {
    background-color: #3E536B !important;
    color: #fff !important;
}

.currentDate-box-table-td {
    background-color: #f9f9f9 !important;
}

.table-box {
    border-top: 2px solid #1EB2A6;
    background-color: #E9F8F7;
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
}

.div-hashor {
    background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 50%, #ffffff 50%, #ffffff 75%, transparent 75%, #fff);
    background-size: 50px 50px;
}

.switcher-Image {
    filter: invert(70%) sepia(1000%) saturate(100%) hue-rotate(3028deg) brightness(60%) contrast(90%);
    width: 30px;
    margin-left: 5px;
}



textarea {
    resize: none;
}

::ng-deep #datePickerTeacher input.dp-picker-input::placeholder {
    text-align: right;
}

::ng-deep #datePickerTeacher dp-day-time-calendar.dp-material dp-time-select {
    display: none !important;
}

::ng-deep #datePickerTeacher dp-calendar-nav .dp-calendar-nav-container-left,
::ng-deep #datePickerTeacher dp-calendar-nav .dp-calendar-nav-container-right {
    display: none !important;
}

/* ::ng-deep #datePickerTeacher .dp-material>div~div>.dp-popup,
.dp-material>div~div {
    width: 75vh !important;
}

::ng-deep #datePickerTeacher dp-calendar-nav.dp-material .dp-calendar-nav-container {
    width: 75vh !important;
} */
::ng-deep #datePickerTeacher dp-day-calendar.dp-material .dp-calendar-weekday {
    width: 45px !important;
    margin: 1px;
    font-size: 13px;
}

::ng-deep #datePickerTeacher dp-day-calendar.dp-material .dp-calendar-day {
    width: 45px !important;
    height: 40px !important;
    font-size: 16px !important;
    margin: 1px !important;

}

::ng-deep #datePickerTeacher dp-day-calendar.dp-material .dp-current-day {
    border-radius: 8px !important;
}

::ng-deep #datePickerTeacher dp-day-calendar.dp-material .dp-selected {
    border-radius: 8px !important;
}

::ng-deep #datePickerTeacher dp-calendar-nav.dp-material .dp-calendar-nav-container {
    min-height: 30px !important;
    border: none !important;
    margin: 1rem 0px !important;
}

::ng-deep #datePickerTeacher dp-day-calendar.dp-material .dp-calendar-wrapper {
    padding: 0;
}


.text-green-consultation {
    color: rgb(30 178 166);
}


table {
    background-color: white !important;
    height: 80vh;
    overflow: auto;
}

table th {
    width: 12rem;
    font-size: medium;
    background-color: #f9f9f9;

}

table th span {
    color: #acacac;
    font-weight: 100;
}

table td {
    width: auto !important;
    position: relative;
    vertical-align: middle !important;
    /* min-width: 11vw; */
}

.arrow-box {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #B8C3CC;
    border-radius: 8px;
    padding: 0.2rem;
    margin: 0px 5px;
    cursor: pointer;
}

.table-time {
    width: 75px !important;
}

@media (max-width: 1295px) {
    ::ng-deep #datePickerTeacher dp-day-calendar.dp-material .dp-calendar-week {
        display: flex;
        flex-wrap: nowrap;
        max-width: 300px;
    }

    ::ng-deep #datePickerTeacher dp-day-calendar.dp-material .dp-weekdays {
        display: flex;
        flex-wrap: nowrap;
        max-width: 300px;
    }
}

@media (max-width: 1224px) {
    ::ng-deep #datePickerTeacher dp-day-calendar.dp-material .dp-calendar-week {
        display: flex;
        flex-wrap: nowrap;
        max-width: 270px;
    }

    ::ng-deep #datePickerTeacher dp-day-calendar.dp-material .dp-weekdays {
        display: flex;
        flex-wrap: nowrap;
        max-width: 270px;
    }
}

@media (max-width: 1224px) {
    ::ng-deep #datePickerTeacher dp-day-calendar.dp-material .dp-calendar-week {
        display: flex;
        flex-wrap: nowrap;
        max-width: 230px;
    }

    ::ng-deep #datePickerTeacher dp-day-calendar.dp-material .dp-weekdays {
        display: flex;
        flex-wrap: nowrap;
        max-width: 230px;
    }
}

@media (max-width: 992px) {
    ::ng-deep #datePickerTeacher dp-day-calendar.dp-material .dp-calendar-week {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }

    ::ng-deep #datePickerTeacher dp-day-calendar.dp-material .dp-weekdays {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }
}