.logo-container {
    min-height: 80px;
}

.logo-container img {
    width: 120px;
}

.sidebar-items {
    overflow-y: auto;
    width: 100%;
}

.sidebar-items {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidebar-items::-webkit-scrollbar {
    display: none;
}

.sidebar-item {
    font-weight: 500;
}

.sidebar-item-icon-containter {
    width: 25px;
    height: 25px;
}

.selected-sidebar-menu {
    border-radius: 10px;
    background: rgba(145, 198, 188, 0.5);

    i {
        color: #000000;
    }

}

.search-container {
    border-radius: 20px;
    position: relative;
    border: 1px solid #a3a3a3;
    color: #a3a3a3;
    width: fit-content;

    input {
        border: none;
        outline: none;
        background: none !important;
    }

}

.search-container input::placeholder {
    color: #a3a3a3;
}

.profile-avatar {
    width: 50px;
    height: 50px;
    background-color: #a3a3a3;
    border-radius: 100%;
}

.navbar-item {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #a3a3a3;
    font-size: 20px;
}

.main-sidebar {
    width: 200px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.main-sidebar::-webkit-scrollbar {
    display: none;
}

.closed-sidebar {
    width: 0 !important;
}